body {
  margin: 0;

}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*  */
.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 0px 100px;
  gap: 10px;
  padding-top: 50px;
}

img {
  width: 100%;
}

.grid_content {
  border-right: 1px solid #E5E5E5;

}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}



/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}


#main {
  transition: margin-left .5s;
  /* If you want a transition effect */
  padding: 20px;
}


@media (max-width: 575px) {
  .grid {
    display: grid;
    grid-template-columns: 100%;
    padding: 0px 20px;
    gap: 10px;
    padding-top: 0px;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {}


@media (min-width: 768px) and (max-width: 991.98px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px 20px;
    gap: 10px;
    padding-top: 20px;
  }
}


@media (min-width: 992px) and (max-width: 1199.98px) {}


@media (min-width: 1200px) {}