body{
    margin: 0;

}
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/*  */
.grid{
display: grid;
grid-template-columns: 25% 25% 25% 25%;
padding: 0px 100px;
gap: 10px;
padding-top: 50px;
}
img {
width: 100%;
}
.grid_content{
border-right: 1px solid #E5E5E5;

}
/* The sidebar menu */
.sidebar {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0;
left: 0;
background-color: #f1f1f1; /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}



/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
font-size: 20px;
cursor: pointer;
background-color: #111;
color: white;
padding: 10px 15px;
border: none;
}

.openbtn:hover {
background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
transition: margin-left .5s; /* If you want a transition effect */
padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .grid{
        display: grid;
        grid-template-columns: 100%;
        padding: 0px 20px;
        gap: 10px;
        padding-top: 0px;
        }
}
  
  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}
  
  /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .grid{
        display: grid;  
        grid-template-columns: auto auto ;
        padding: 0px 20px;
        gap: 10px;
        padding-top: 20px;
        }
}
  
  /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}
  
  /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
  